<%= form_with(model: @box, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :size %>

    <%= f.text_field :size, class: "form-control" %>
  </div>

  <%= f.submit "Create box", class: "btn btn-block btn-outline-secondary" %>
<% end %>
