<%= form_with(model: @item, local: true) do |f| %>

  <%= f.hidden_field :box_id, value: @box.id %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <%= f.submit "Create item", class: "btn btn-block btn-outline-secondary" %>
<% end %>
